<ion-header>
  <ion-toolbar>
    <ion-title> Sistema de Riego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true" >


  <ion-refresher slot="fixed">
    <ion-refresher-content>
      
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-item-divider>
    <ion-label>
      <ion-text color="medium"> Estado del Sistema</ion-text>
    </ion-label>
  </ion-item-divider>
  <div class="statusSystem">
    <ion-progress-bar *ngIf="this._statusSystem" type="indeterminate"></ion-progress-bar>
    <ion-progress-bar *ngIf="!this._statusSystem"></ion-progress-bar>
    <label>
      <input [disabled]="true" [checked]="this._statusSystem" type="checkbox">
      <span>
        <ion-icon name="bulb-outline"></ion-icon>
      </span>
    </label>
    
    <ion-progress-bar *ngIf="this._statusSystem" type="indeterminate" reversed="true"></ion-progress-bar>
    <ion-progress-bar *ngIf="!this._statusSystem"></ion-progress-bar>

  </div>
  

  <div class="custom-content">
    
    <ion-item-divider>
      <ion-label>
        <ion-text color="medium"> Panel de Control</ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-toggle class="tooglePump" checked="{{!!(this._statusData.pump)}}" (ionChange)="requestData('1')" >
        <span>
          <ion-icon name="bulb-outline"></ion-icon>
        </span>
      </ion-toggle>
      <ion-thumbnail slot="start">
        <img src="../assets/img/pump.png">
      </ion-thumbnail>
      <ion-label>Bomba de Agua</ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle class="toggleFan" checked="{{!!(this._statusData.fan1)}}" (ionChange)="requestData('2')" ></ion-toggle>
      <ion-thumbnail slot="start">
        <img src="../assets/img/fan.png">
      </ion-thumbnail>
      <ion-label>Ventiladora #1</ion-label>
    </ion-item>


    <ion-item>
      <ion-toggle class="toggleFan" checked="{{!!(this._statusData.fan2)}}" (ionChange)="requestData('3')" ></ion-toggle>
      <ion-thumbnail slot="start">
        <img src="../assets/img/fan.png">
      </ion-thumbnail>
      <ion-label>Ventiladora #2</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <ion-text color="medium"> Sensor #1</ion-text>
      </ion-label>
    </ion-item-divider>

   
    <ion-item>
      
      <ion-avatar slot="start">
        <img src="../../assets/img/humidity.jpg">
      </ion-avatar>
      
      <ion-progress-bar value="{{this._statusData.sensor1-0.1}}" buffer="0.05"></ion-progress-bar>
    </ion-item>
    

    <ion-item-divider>
      <ion-label>
        <ion-text color="medium"> Sensor #2</ion-text>
      </ion-label>
    </ion-item-divider>
  
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/humidity.jpg">
      </ion-avatar>      
      <ion-progress-bar value="{{this._statusData.sensor2-0.1}}" buffer="0.05"></ion-progress-bar>
    </ion-item>
    

    </div>

    <ion-fab vertical="start" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="powerOffSystem()"><ion-icon name="power-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="presentAlert()" ><ion-icon name="settings-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="debugStatus(1)" ><ion-icon name="bug"></ion-icon></ion-fab-button>
      </ion-fab-list>

    </ion-fab>

</ion-content>